@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    .coding{
    margin-left: 55%;
    }
.hamburg{
    display: none;
    scale: 1.8;
    }

@media  (max-width:1024px) {
    #NavbarItem{
        display: none;
    }
    .coding{
        margin-left: 10%;
    }
    .hamburg{
        display: inline;
    }
    .border-teal{
        border-bottom: #18f1e2;
    }}

.active{
    color: #18f1e2;
    border-bottom: 2px solid #18f1e2;
}